@mixin tablet() {
  @media screen and (min-width: 37.5rem) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 64rem) {
    @content;
  }
}

@mixin wrapperWidth($size) {
  @if ($size == "mobile") {
    width: calc(100% - 2.5rem);
  }
  @if ($size == "tablet") {
    width: calc(100% - 5rem);
  }
  @if ($size == "desktop") {
    width: 100rem;
  }
}
