.header {
  background-color: white;
  z-index: 100;

  .nav {
    @include wrapperWidth("mobile");

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    .logo {
      width: 4.25rem;
      height: 1.9375rem;

      a {
        display: block;
      }
    }
  }

  @include tablet {
    .nav {
      @include wrapperWidth("tablet");
      height: 6.25rem;

      .logo {
        width: 6.1875rem;
        height: 2.8125rem;
      }
    }
  }

  @include desktop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent;

    .nav {
      @include wrapperWidth("desktop");
    }
  }
}
